

<footer>
        <div class="container footer-content">
            <div class="contact-us">
                <h2 class="brand">Julio Santacruz Dev</h2>
                <p>Somos expertos en la creacion de tus suenios</p>
            </div>

            <div class="social-media">
                <a href="#" class="social-media-icon">
                    <i class='bx bxl-facebook-circle'></i>
                </a>
                <a href="#" class="social-media-icon">
                    <i class='bx bxl-twitter'></i>
                </a>
                <a href="#" class="social-media-icon">
                    <i class='bx bxl-instagram'></i>
                </a>

            </div>

        </div>
    </footer>