{%load static%}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- META Etiquetas  -->
<meta name="description" content="Esta es una pagina para apoyar a la casa hogar para adultos mayores, Casa Hogar Agnes Lester" />
<meta name="keywords" content="casa hogar adultos mayores, tijuana, caridad adultos mayores, donaciones, apoyar, agnes lester" />
<meta name="robots" content="index,follow" />



<title>Casa Hogar Agnes Lester</title>
<link rel="stylesheet" href="{% static 'css/style.css'%}">
<!-- Boxicons stilos-->
<link href='https://unpkg.com/boxicons@2.0.8/css/boxicons.min.css' rel='stylesheet'>
<!-- Google FONTS-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">

<!-- etiquetas facebook -->

<meta property="og:url" content="https://www.casahogarlesteragnes" />
<meta property="og:type" content="article" />
<meta property="og:title" content="Casa Hogar Agnes Lester" />
<meta property="og:description" content="La felicidad es hacer lo que se desea, y desear lo que se hace." />
<meta property="og:image" content="{% static 'img/helping.jpg' %}" />
<meta property="og:site_name" content="Casa Hogar Agnes Lester" />
<meta name="twitter:title" content="Casa Hogar Agnes Lester">

<meta name="twitter:description" content="La felicidad es hacer lo que se desea, y desear lo que se hace.">