{%load static%}
<header class="header" id="inicio">
        <img src="{% static 'img/bx-menu.svg'%}" alt="" class="icon-menu">
        <nav class="menu-navegacion">
            <a href="{% url 'home'%}">Inicio</a>
            <a href="#servicio">Servicios</a>
            <a href="#galeria">Galeria</a>
            <a href="#donaciones">Donaciones</a>
            <a href="#contacto">Contacto</a>
        </nav>

        <div class="container head">
            <h1 class="titulo">Casa Hogar Agnes Lester</h1>
            <p class="copy">La felicidad es hacer lo que se desea, y desear lo que se hace.</p>
        </div>
    </header>

     